.arrow_refreshIcon {background: url(images/16x16/arrow_refresh.png) 0 no-repeat !important;}
.book_previousIcon {background: url(images/16x16/book_previous.png) 0 no-repeat !important;}
.buildingIcon {background: url(images/16x16/building.png) 0 no-repeat !important;}
.chart_organisationIcon {background: url(images/16x16/chart_organisation.png) 0 no-repeat !important;}
.medal_gold_1Icon {background: url(images/16x16/medal_gold_1.png) 0 no-repeat !important;}
.page_addIcon {background: url(images/16x16/page_add.png) 0 no-repeat !important;}
.page_delIcon {background: url(images/16x16/page_del.png) 0 no-repeat !important;}
.page_edit_1Icon {background: url(images/16x16/page_edit_1.png) 0 no-repeat !important;}
.previewIcon {background: url(images/16x16/preview.png) 0 no-repeat !important;}

.addIcon {background: url(images/16x16/add.gif) 0 no-repeat !important;}
.noIcon {background: url(images/16x16/no.png) 0 no-repeat !important;}
.propIcon {background: url(images/16x16/prop.gif) 0 no-repeat !important;}

.app_rightIcon {background: url(images/16x16/app_right.png) 0 no-repeat !important;}
.layout_contentIcon {background: url(images/16x16/layout_content.png) 0 no-repeat !important;}

.acceptIcon {background: url(images/16x16/accept.png) 0 no-repeat !important;}
.deleteIcon {background: url(images/16x16/delete.png) 0 no-repeat !important;}
.resetIcon {background: url(images/16x16/bullet_wrench_red.png) 0 no-repeat !important;}
.back {background: url(images/16x16/rewind_green.png) 0 no-repeat !important;}
.share {background: url(images/16x16/world_orbit.png) 0 no-repeat !important;}
.shouquan {background: url(images/16x16/user_tick.png) 0 no-repeat !important;}
.log {background: url(images/16x16/cdr_magnify.png) 0 no-repeat !important;}
.downloadIcon {background: url(images/16x16/package_down.png) 0 no-repeat !important;}
.sendMaiIcon {background: url(images/16x16/arrow_ne.png) 0 no-repeat !important;}
.saveMaiIcon {background: url(images/16x16/disk_black.png) 0 no-repeat !important;}
.transferMaiIcon {background: url(images/16x16/email_transfer.png) 0 no-repeat !important;}
.replyMaiIcon {background: url(images/16x16/email_start.png) 0 no-repeat !important;}
.replyAllMaiIcon {background: url(images/16x16/email_star.png) 0 no-repeat !important;}
.draftIcon {background: url(images/16x16/mail.png) 0 no-repeat !important;}
.writeMailIcon {background: url(images/16x16/gg.png) 0 no-repeat !important;}
.initMailIcon {background: url(images/16x16/map_start.png) 0 no-repeat !important;}
.backwardIcon {background: url(images/16x16/play_green.png) 0 no-repeat !important;}
.forwardIcon {background: url(images/16x16/reverse_green.png) 0 no-repeat !important;}
.dayIcon {background: url(images/16x16/dayIcon.png) 0 no-repeat !important;}
.weekIcon {background: url(images/16x16/weekIcon.png) 0 no-repeat !important;}
.mouthIcon {background: url(images/16x16/mouthIcon.png) 0 no-repeat !important;}

.defaultQiangZhi {background: url(images/16x16/camera_picture.png) 0 no-repeat !important;}
.sortIcon {background: url(images/16x16/sort_ascending.png) 0 no-repeat !important;}
.shouChang {background: url(images/16x16/folder_film.png) 0 no-repeat !important;}
.cannelShouChang {background: url(images/16x16/build_cancel.png) 0 no-repeat !important;}
.cannelShare {background: url(images/16x16/cdr_cross.png) 0 no-repeat !important;}
.borderAllIcon {background: url(images/16x16/border_all.png) 0 no-repeat !important;}
.asteriskRedIcon {background: url(images/16x16/asterisk_red.png) 0 no-repeat !important;}
.folderUpIcon {background: url(images/16x16/folder_up.png) 0 no-repeat !important;}
.selectFileIcon {background: url(images/16x16/box_picture.png) 0 no-repeat !important;}
.exportExecl {background: url(images/16x16/execl.png) 0 no-repeat !important;}

