<div class="form-group">
    <label class="col-md-2 col-sm-2 control-label">用户</label>
    <div class="col-md-4 col-sm-4">
        <div class="input-group">
            <input type="text" NAME="STAFF_ID" class="form-control">
        </div>
    </div>
    <label class="col-md-2 col-sm-2 control-label">职位</label>
    <div class="col-md-4 col-sm-4">
        <div class="input-group">
            <input type="text" NAME="JOB_ID" class="form-control">
        </div>
    </div>
</div>
<div class="form-group ">
    <label class="col-md-2 col-sm-2 control-label">部门</label>
    <div class="col-md-4 col-sm-4">
        <div class="input-group">
            <input type="text" NAME="ORG_ID" class="form-control">
        </div>
    </div>
    <label class="col-md-2 col-sm-2 control-label">角色</label>
    <div class="col-md-4 col-sm-4">
        <div class="input-group">
            <input type="text" NAME="ROLE_ID" class="form-control">
        </div>
    </div>
</div>
<div class="form-group ">
    <label class="col-md-2 col-sm-2 control-label">任务名称</label>
    <div class="col-md-4 col-sm-4">
        <input type="text" NAME="" class="form-control">
    </div>
    <label class="col-md-2 col-sm-2 control-label">原因</label>
    <div class="col-md-4 col-sm-4">
        <input type="text" NAME="" class="form-control">
    </div>
</div>
