<div class="ui-dialog dialog-md">
    <div class="modal-header">
        <h4 class="modal-title">用户</h4>
    </div>
    <div class="modal-body">
        <div class='row'>
            <div class='col-md-6 col-sm-6 col-lg-6 js-left-div'></div>
            <div class='col-md-6 col-sm-6 col-lg-6 js-right-div'></div>
        </div>
        <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-right margin-bottom_s">
            <button type="button" class="btn btn_minwidth btn-primary js-ok">
                确认
            </button>
            <button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>
                取消
            </button>
        </div>
    </div>
</div>
