<form class="form-horizontal clearfix js-form-detail" style="padding-top: 10px">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-1 modal-header">
                <h4 class="modal-title">事件类型</h4>
            </div>
            <div class="col-md-4 modal-header">
                <h4 class="modal-title">服务名称</h4>
            </div>
            <div class="col-md-7 modal-header">
                <h4 class="modal-title">描述</h4>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-1 control-label">开始</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input type="text" NAME="service_start" class="form-control form-control-start">
                </div>
            </div>
            <div class="col-md-7 col-sm-5">
                <div class="input-group">
                    <input type="text" NAME="describe_start" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-1 control-label">结束</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input type="text" NAME="service_end" class="form-control form-control-end">
                </div>
            </div>
            <div class="col-md-7 col-sm-5">
                <div class="input-group">
                    <input type="text" NAME="describe_end" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div ></div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-1 control-label">回退</label>
            <div class="col-md-4 col-sm-4">
                <div class="input-group">
                    <input type="text" NAME="service_return" class="form-control form-control-return">
                </div>
            </div>
            <div class="col-md-7 col-sm-5">
                <div class="input-group">
                    <input type="text" NAME="describe_return" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-10"></div>
        <div class="col-md-1">
            <button type="button" class="btn btn_minwidth btn-primary js-form-ok">
                确定
            </button>
        </div>
    </div>

</form>