<div class="grid js-back-grid"></div><br>
<div>
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <button type="button" class="btn btn_minwidth btn-primary js-form-add js-set-button">
            新增
        </button>
        <button type="button" class="btn btn_minwidth btn-primary js-form-modify js-set-button">
            编辑
        </button>
        <button type="button" class="btn btn_minwidth btn-primary js-form-del js-set-button">
            删除
        </button>
    </div>
</div>