<form class="form-horizontal clearfix js-form-detail" style="padding-top: 10px">
    <div class="col-md-6 col-sm-6">
        <div class="form-group required">
            <label class="col-md-4 col-sm-4 control-label">用户</label>
            <div class="col-md-8 col-sm-8">
                <div class="input-group">
                    <input type="text" NAME="USER_NAME" class="form-control form-control-user">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="form-group required">
            <label class="col-md-4 col-sm-4 control-label">职位</label>
            <div class="col-md-8 col-sm-8">
                <div class="input-group">
                    <input type="text" NAME="JOB_NAME" class="form-control form-control-job">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="form-group required">
            <label class="col-md-4 col-sm-4 control-label">部门</label>
            <div class="col-md-8 col-sm-8">
                <div class="input-group">
                    <input type="text" NAME="ORG_NAME" class="form-control form-control-org">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="form-group required">
            <label class="col-md-4 col-sm-4 control-label">角色</label>
            <div class="col-md-8 col-sm-8">
                <div class="input-group">
                    <input type="text" NAME="ROLE_NAME" class="form-control form-control-role">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="form-group required">
            <label class="col-md-4 col-sm-4 control-label">服务名称</label>
            <div class="col-md-8 col-sm-8">
                <div class="input-group">
                    <input type="text" NAME="DISPATCH_SERVICE_NAME" class="form-control form-control-service">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6">
        <button type="button" class="btn btn_minwidth btn-primary js-form-edit">编辑</button>
    </div>
    <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6" style="display:none;">
        <button type="button" class="btn btn_minwidth btn-primary js-form-ok">
            确定
        </button>
        <button type="button" class="btn btn_minwidth btn-default js-form-cancel">
            取消
        </button>
    </div>
</form>
