<div class="ui-dialog dialog-md">
    <div class="modal-header">
        <h4 class="modal-title">流程类型</h4>
    </div>
    <div class="modal-body">
        <div class="search-bar">
            <div class="input-group js-searchbar" data-toggle="searchbar"></div>
        </div>
        <div class="grid js-process-dir-grid grid-row-10 grid_container"></div>
        <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-right margin-bottom_s">
            <button type="button" class="btn btn_minwidth btn-primary js-ok">
                {{COMMON_OK}}
            </button>
            <button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>
                {{COMMON_CANCEL}}
            </button>
        </div>
    </div>
</div>
