<div class="col-md-12 col-sm-12">
    <div class="form-group required">
        <label class="col-md-4 col-sm-4 control-label">流程名称</label>
        <div class="col-md-8 col-sm-8">
            <input name="name" class="form-control" data-rule="流程名称:required;length[1~60, true]">
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <div class="form-group required ">
        <label class="col-md-4 col-sm-4 control-label">业务键</label>
        <div class="col-md-8 col-sm-8">
            <input name="BIZ_KEY" class="form-control">
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">超时设置</label>
        <div class="col-md-8 col-sm-8">
            <input name="OVER_TIME" class="form-control">
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12">
    <div class="form-group">
        <label class="col-md-4 col-sm-4 control-label">描述</label>
        <div class="col-md-8 col-sm-8">
            <input name="COMMENTS" class="form-control">
        </div>
    </div>
</div>
<div class="col-md-8 col-md-offset-4">
    <button type="button" class="btn btn_minwidth btn-primary js-form-edit">编辑</button>
    <button type="button" class="btn btn_minwidth btn-primary js-form-new">新建版本</button>
</div>
<div class="col-md-8 col-md-offset-4" style="display:none;">
    <button type="button" class="btn btn_minwidth btn-primary js-form-ok">
        确定
    </button>
    <button type="button" class="btn btn_minwidth btn-default js-form-cancel">
        取消
    </button>
</div>
