<div class="panel panel_shadow js-panel">
    <form class="form-horizontal clearfix js-form">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">
                	法律法规名称
                </label>
                <div class="col-md-8">
                    <input name="NAME" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">
                	法律法规类型
                </label>
                <div class="col-md-8">
                    <input name="TYPE_ID" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">
                	文号
                </label>
                <div class="col-md-8">
                    <input type="text" NAME="FILE_NO" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">
                	实施日期从
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input name="EXE_DATE_BEGIN" class="form-control" type="text" data-rule="实施开始日期:match[lt, EXE_DATE_END, date];">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">
                	实施日期到
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input name="EXE_DATE_END" class="form-control" type="text" data-rule="实施结束日期:match[gt, EXE_DATE_BEGIN, date];">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <input type="button" class="btn btn_minwidth btn-primary js-query" value="{{COMMON_QUERY}}" />
                    <input type="reset" class="btn btn_minwidth btn-default" value="{{COMMON_RESET}}" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="grid_container">
    <div class="grid js-law-grid"></div>
</div>