BODY {
  margin-top:0px;margin-left:0px;margin-right:0px;
  scrollbar-base-color: color;
  scrollbar-track-color: D0D7EF;
  scrollbar-face-color: #DBE0EF;
  scrollbar-highlight-color: color;
  scrollbar-3dlight-color: color;
  scrollbar-darkshadow-color: color;
  scrollbar-shadow-color: #9393C6;
  scrollbar-arrow-color: #9393C6;
  background-color: #ffffff; 
}


div { 
	SCROLLBAR-FACE-COLOR: #B2DDFC;
	SCROLLBAR-HIGHLIGHT-COLOR: white; 
	SCROLLBAR-SHADOW-COLOR: white;
	SCROLLBAR-3DLIGHT-COLOR: white;
	SCROLLBAR-ARROW-COLOR: #0C0C0C; 
	SCROLLBAR-TRACK-COLOR: white; 
	SCROLLBAR-DARKSHADOW-COLOR: white  
}

A, BODY, INPUT, OPTION, SELECT, TABLE, TD, TR, FILE {
	font-family:"宋体", "MS SONG", "SimSun", "tahoma", "sans-serif";
	font-size:10pt;
	color:#211C1A;
}


A:link {COLOR: #000099; TEXT-DECORATION: none}
A:visited {COLOR: #000099; TEXT-DECORATION: none}
A:active {COLOR: #000099; TEXT-DECORATION: none}
A:hover {COLOR: red; TEXT-DECORATION: none}

BUTTON {
  width: 65px;
  height: 23px;
  cursor: pointer;
  text-align:center;
  vertical-align:middle;
  font-size:9pt;
}

.tableClassList {
    width:100%;
}


.txtClassPage {
    width:30px;
    height:22px;
    border:1px solid #7F9DB9;
}
.txtClassSearch {
    width:80px;
    height:22px;
    border:1px solid #7F9DB9;
}
.txtClass1 {
    width:150px;
    height:22px;
    border:1px solid #7F9DB9;
}
.txtClass2 {
    width:450px;
    height:22px;  
    border:1px solid #7F9DB9;
}
.areaClass1 {
    width:150px;
    height:100px;
    border:1px solid #7F9DB9;
}
.areaClass2 {
    width:450px;
    height:100px;
    border:1px solid #7F9DB9;
}
.areaClassContent {
    width:450px;
    height:300px;
    border:1px solid #7F9DB9;
}
.txtClass50 {
    width:50px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass50 {
    width:50px;
    height:100px;
    border:1px solid #7F9DB9;
}
.txtClass60 {
    width:60px;
    height:22px;
    border:1px solid #7F9DB9;
}
.txtClass80 {
    width:80px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass80 {
    width:80px;
    height:100px;
    border:1px solid #7F9DB9;
}
.txtClass100 {
    width:100px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass100 {
    width:100px;
    height:100px;
    border:1px solid #7F9DB9;
}
.txtClass120 {
    width:120px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass120 {
    width:120px;
    height:100px;
    border:1px solid #7F9DB9;
}
.txtClass140 {
    width:140px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass140 {
    width:140px;
    height:100px;
    border:1px solid #7F9DB9;
}

.txtClass200 {
    width:200px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass200 {
    width:200px;
    height:100px;
    border:1px solid #7F9DB9;
}
.txtClass250 {
    width:250px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass250 {
    width:250px;
    height:100px;
    border:1px solid #7F9DB9;
}
.txtClass300 {
    width:300px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass300 {
    width:300px;
    height:100px;
    border:1px solid #7F9DB9;
}
.txtClass350 {
    width:350px;
    height:22px;
    border:1px solid #7F9DB9;
}
.areaClass350 {
    width:350px;
    height:100px;
    border:1px solid #7F9DB9;
}
.titleClass {
    width:100px;
    text-align:left;
    vertical-align:middle;
    font-weight:bold;
    font-size:13pt;
    color:black;
}
.titleClassHref {
    text-align:left;
    vertical-align:middle;
    font-weight:bold;
    color:#073751;
    font-size:11pt;
}

.trClassTitle0 {
    background-color:#C0C0C0;
    text-align:center;
    font-weight:bold;
}
.trClassTitle {
    text-align:center;
    font-weight:bold;
    background-image:  url(../../images/skin2_green2/cell_bg.gif);
}

.trClassTitle_bak {
    background-image:  url(../../images/skin2_green2/gonggao1_04.gif);
    text-align:center;
    font-weight:bold;
}

.trClassTitle2 {
    background-color:#EEEAEA;
    text-align:center;
}

.tdClassLine {
    line-height: 1px;
}

.tdClassLine2 {
    line-height: 20px;
}

.tdClassTitle {
    width:100px;
    text-align:right;
    vertical-align:top;
}
.tdClassTitleB {
    width:100px;
    text-align:right;
    vertical-align:top;
    font-weight:bold;
}

.btnClassShort {
  width: 30px;
  height: 22px;
  cursor: pointer;
  text-align:center;
  vertical-align:middle;
  font-size:9pt;
  /* background:  url(../../img/form/button/cell_bt30.gif); */
  BORDER-RIGHT: #C0C0C0 0px solid; 
  BORDER-TOP: #C0C0C0 0px solid;  
  BORDER-LEFT: #C0C0C0 0px solid;  
  BORDER-BOTTOM: #C0C0C0 0px solid; 
}

.btnClass_bak {
  width: 60px;
  height: 22px;
  cursor: pointer;
  text-align:center;
  vertical-align:middle;
  font-size:9pt;
  background:  url(../../images/skin2_green2/button/cell_bt60.gif); 
  BORDER-RIGHT: #C0C0C0 0px solid; 
  BORDER-TOP: #C0C0C0 0px solid;  
  BORDER-LEFT: #C0C0C0 0px solid;  
  BORDER-BOTTOM: #C0C0C0 0px solid; 
}

.btnClass {
  width: 60px;
  height: 22px;
  cursor: pointer; 
  background:  url(../../images/skin2_green2/button/cell_bt60.gif);
  BORDER-RIGHT: #C0C0C0 0px solid; 
  BORDER-TOP: #C0C0C0 0px solid;  
  BORDER-LEFT: #C0C0C0 0px solid;  
  BORDER-BOTTOM: #C0C0C0 0px solid; 
}


.btnClassLong {
  width: 150px;
  height: 22px;
  cursor: pointer;
  text-align:center;
  vertical-align:middle;
  font-size:9pt;
  background:  url(../../images/skin2_green2/button/cell_bt150.gif);  
  BORDER-RIGHT: #C0C0C0 0px solid; 
  BORDER-TOP: #C0C0C0 0px solid;  
  BORDER-LEFT: #C0C0C0 0px solid;  
  BORDER-BOTTOM: #C0C0C0 0px solid; 
  
}
.btnClass100 {
  width: 100px;
  height: 22px;
  cursor: pointer;
  text-align:center;
  vertical-align:middle;
  font-size:9pt;
  background:  url(../../images/skin2_green2/button/cell_bt100.gif);

}
.btnClass120 {
  width: 120px;
  height: 22px;
  cursor: pointer;
  text-align:center;
  vertical-align:middle;
  font-size:9pt;
  background:  url(../../images/skin2_green2/button/cell_bt120.gif);
  BORDER-RIGHT: #C0C0C0 0px solid; 
  BORDER-TOP: #C0C0C0 0px solid;  
  BORDER-LEFT: #C0C0C0 0px solid;  
  BORDER-BOTTOM: #C0C0C0 0px solid; 
}
.btnClass0 {
  height: 22px;
  cursor: pointer;
  text-align:center;
  vertical-align:middle;
  font-size:9pt;
  background:  url(../../images/skin2_green2/button/cell_bt150.gif);
  BORDER-RIGHT: #C0C0C0 0px solid; 
  BORDER-TOP: #C0C0C0 0px solid;  
  BORDER-LEFT: #C0C0C0 0px solid;  
  BORDER-BOTTOM: #C0C0C0 0px solid;   
}
.fileClass1 {
    width:150px;
    height:22px;
    cursor: pointer;
    font-size:10pt;
    border:1px solid #7F9DB9;
}
.fileClass2 {
    width:450px;
    height:22px;
    cursor: pointer;
    font-size:10pt;
    border:1px solid #7F9DB9;
}
.fileClass120 {
    width:120px;
    height:22px;
    cursor: pointer;
    font-size:10pt;
    border:1px solid #7F9DB9;
}
.fileClass140 {
    width:140px;
    height:22px;
    cursor: pointer;
    font-size:10pt;
    border:1px solid #7F9DB9;
}

.detailTitle {
    height:30px;
    font-size:13pt;
}
.main_title {
	background-image:  url(../../images/skin2_green2/main_title2.gif);
	height:23px;
}

.menuOn {
    background-image:  url(../../images/skin2_green2/menu/menu_bt2.gif);
}
.menuOut {
    background-image:  url(../../images/skin2_green2/menu/menu_bt.gif);
}
.menuBg {
    background-color: #51A6D4;
}



.tab_01 {
    width: 5px;
    height: 30px;
    background-image:  url(../../images/skin2_green2/tab/tab_01.gif);
}
.tab_02 {
    height: 30px;
    width: 120px;
    background-image:  url(../../images/skin2_green2/tab/tab_02.gif);
}
.tab_03 {
    width: 5px;
    height: 30px;
    background-image:  url(../../images/skin2_green2/tab/tab_03.gif);
}
.tab_11 {
    width: 5px;
    height: 30px;
    background-image:  url(../../images/skin2_green2/tab/tab_11.gif);
}
.tab_12 {
    height: 30px;
    width: 120px;
    background-image:  url(../../images/skin2_green2/tab/tab_12.gif);
}
.tab_13 {
    width: 5px;
    height: 30px;
    background-image:  url(../../images/skin2_green2/tab/tab_13.gif);
}

.line_01 {
    width: 15px;
    height: 30px;
    background-image:  url(../../images/skin2_green2/tab/line_01.gif);
}
.line_02 {
    height: 5px;
    width: 120px;
    background-image:  url(../../images/skin2_green2/tab/line_02.gif);
}
.line_03 {
    width: 20px;
    height: 30px;
    background-image:  url(../../images/skin2_green2/tab/line_03.gif);
}