<form class="form-horizontal clearfix log__form js-form">
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="col-md-4 col-sm-4 control-label">
                流程单编号
            </label>
            <div class="col-md-8 col-sm-8">
                <input type="text" NAME="SRC_IP" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="col-md-4 col-sm-4 control-label">
                流程类型
            </label>
            <div class="col-md-8 col-sm-8">
                <input type="text" NAME="SRC_IP" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="col-md-4 col-sm-4 control-label">
                流程名称
            </label>
            <div class="col-md-8 col-sm-8">
                <input type="text" NAME="SRC_IP" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="col-md-4 col-sm-4 control-label">
                流程单状态
            </label>
            <div class="col-md-8 col-sm-8">
                <input type="text" name="TASK_STATUS" id="taskStatusCombox" class="form-control" data-rule="任务状态:required">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="col-md-4 col-sm-4 control-label">
                开始时间
            </label>
            <div class="col-md-8 col-sm-8">
                <div class="input-group">
                    <input name="LOG_DATE_BEGIN" class="form-control js-begin-login-date" type="text" data-rule="{{LOG_START_TIME}}:match[lt, LOG_DATE_END, date];">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group">
            <label class="col-md-4 col-sm-4 control-label">
                结束时间
            </label>
            <div class="col-md-8 col-sm-8">
                <div class="input-group">
                    <input name="LOG_DATE_END" class="form-control js-end-login-date" type="text" data-rule="{{LOG_END_TIME}}:match[gt, LOG_DATE_BEGIN, date]">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-md-offset-8 col-sm-offset-8">
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
                <input type="button" class="btn btn_minwidth btn-primary js-query" value="查询" />
                <button type="reset" class="btn btn_minwidth btn-default">重置</button>
            </div>
        </div>
    </div>
</form>
<div class="grid_container">
    <div class="grid js-login-log-grid" id="js-login-log-grid"></div>
</div>
