 <div class="panel panel_shadow clearfix js-panel" style="border:0;padding:0;margin-bottom:0;">
     <form class="form-horizontal clearfix show_baseInfo">
         <div class="col-md-4 col-sm-4">
             <label class="control-label">流程单编号:</label>
             <span class="HOLDER_NO"></span>
         </div>
         <div class="col-md-8 col-sm-8">
             <label class="control-label">任务名称:</label>
             <span class="TASK_NAME" class="form-control"></span>
         </div>
         <div class="col-md-4 col-sm-4">
             <label class="control-label">创建日期:</label>
             <span class="CREATE_DATE"></span>
         </div>
         <div class="col-md-8 col-sm-8 ">
             <label class="control-label">失效日期:</label>
             <span class="DUE_DATE"></span>
         </div>
         <div class="col-md-12 col-sm-12 ">
             <label class="control-label">描述:</label>
             <span class="DESCRIPTION"></span>
         </div>
     </form>
 </div>