 <div class="panel panel_shadow clearfix js-panel" style="border:0;padding:0;margin-bottom:0;">
 	<div class="panel-heading">
 		<h3 class="panel-title sectionTitle">环节处理流程</h3>
 	</div>
 	<form class="form-horizontal js-form" style="padding-top:10px">
 		<div class="linkFormDiv"></div>
 		<div class="col-md-12 opinionDiv" style="margin-top: 10px;">
 			<label class="col-md-1 control-label">意见</label>
 			<div class="col-md-11">
 				<textarea class="form-control opinion" rows="3"></textarea>
 			</div>
 		</div>
 	</form>
 	<div class="col-md-12 col-sm-12 text-right" style="margin-top:8px;margin-bottom:14px;padding-right:40px;">
 		<button type="button" class="btn btn_minwidth btn-primary js-submit">提交</button>
 		<button type="button" class="btn btn_minwidth btn-primary js-cancel">取消</button>
 	</div>
 </div>