<div class="row">
<div class="col-md-4 col-sm-4">
	<div class="container_left">
		<div class="tabs js-job-tab">
			<ul class="tabs__navbar">
				<li><a href="#tabs-active-jobs">{{JOBMGR_ACTIVE_JOB}}</a></li>
				<li><a href="#tabs-inactive-jobs">{{JOBMGR_INACTIVE_JOB}}</a></li>
			</ul>
			<div id="tabs-active-jobs">
				<div class="search-bar">
					<div class="js-jrt-gridinput-group search-group" data-toggle="searchbar"></div>
				</div>
				<div class="grid grid_active"></div>
			</div>
			<div id="tabs-inactive-jobs">
				<div class="search-bar">
					<div class="input-group search-group" data-toggle="searchbar"></div>
				</div>
				<div class="grid grid_inactive"></div>
			</div>
		</div>
	</div>
</div>

<div class="col-md-8 col-sm-8">
	<div class="container_right">
		<div class="panel panel_shadow">
			<div class="panel-heading">
				<h4 class="panel-title">{{JOBMGR_JOB_ROLE_TPL_MGR}}</h4>
			</div>
			<div class="search-bar">
				<div class="input-group search-group" data-toggle="searchbar"></div>
			</div>
			<div class="grid js-jrt-grid"></div>
		</div>
	</div>
</div>
</div>
