<div class="ui-dialog dialog-lg">
<div class="modal-header">
	<h4 class="modal-title">{{JOBMGR_ADD_ROLE_TO_USER}}</h4>
</div>

<div class="modal-body">
	<p class="role-user-list__container">
		<span>{{JOBMGR_ROLE_LIST}}:</span>
		<span class="js-oper-roles"></span>
	</p>
	<div class="search-bar clearfix">
		<p class="title_forgrid pull-left">
			<span>{{JOBMGR_JOB_NAME}}:</span>
			<span class="js-job-name"></span>
		</p>
		<div class="input-group pull-right" data-toggle="searchbar"></div>
	</div>
	<div class="grid grid-row-10 grid_container"></div>
</div>

<div class="modal-footer">
	<div class="col-md-8 col-sm-8"></div>
	<div class="col-md-4 col-sm-4">
		<button type="button" class="btn btn_minwidth btn-primary js-ok" autofocus>{{COMMON_OK}}</button>
		<button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>{{COMMON_CANCEL}}</button>
	</div>
</div>
</div>