.left_margin {
	width: 2%;
}

.th1 {
	width: 12%;
}

.th2 {
	width: 18%;
}

.middle_margin1 {
	width: 3%;
}

.th3 {
	width: 12%;
}

.th4 {
	width: 18%;
}

.middle_margin2 {
	width: 3%;
}

.th5 {
	width: 12%;
}

.th6 {
	width: 18%;
}

.right_margin {
	width: 3%;
}