<div class="ui-dialog dialog-md">
<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body top-padding">
    <form class="form-horizontal js-item-form">
        <div class="form-group required">
            <label class="col-md-2 control-label">
            	事项名称
            </label>
            <div class="col-md-4">
                <input name="NAME" class="form-control" data-rule="名称:required;length[1~60, true]"/>
            </div>
            <label class="col-md-2 control-label">
				事项编码
            </label>
            <div class="col-md-4">
                <input name="ITEM_CODE" class="form-control " data-rule="编码:required;length[1~60, true]"/>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-2 control-label">
            	审批类别
            </label>
            <div class="col-md-4">
                <input name="SP_TYPE_ID" class="form-control " data-rule="类别:required"/>
            </div>
            <label class="col-md-2 control-label">
				所属部门
            </label>
            <div class="col-md-4">
                <div class="input-group">
                	<input name="ORG_ID" class="form-control " data-rule="所属部门:required"/>
               	</div>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-2 control-label">
            	审批对象
            </label>
            <div class="col-md-4">
                <input name="SP_OBJECT" class="form-control " data-rule="审批对象:required"/>
            </div>
            <label class="col-md-2 control-label">
				法定期限
            </label>
            <div class="col-md-4">
                <input name="LEGAL_PERIOD" class="form-control" data-rule="法定期限:required"/>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-2 control-label">
            	承诺期限
            </label>
            <div class="col-md-4">
                <input name="PROMISE_PERIOD" class="form-control " data-rule="承诺期限:required"/>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-2 control-label">
            	收费依据和标准
            </label>
            <div class="col-md-10">
                <textarea rows="2" class="form-control" name="FEE" style="width: 100%;resize: auto;max-width: 100%;" data-rule="收费依据和标准:required"></textarea>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-2 control-label">
            	设定依据
            </label>
            <div class="col-md-10">
                <textarea rows="2" class="form-control" name="SET_GIST" style="width: 100%;resize: auto;max-width: 100%;" data-rule="设定依据:required"></textarea>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-2 control-label">
            	办理条件
            </label>
            <div class="col-md-10">
                <textarea rows="2" class="form-control" name="DEAL_CONDITION" style="width: 100%;resize: auto;max-width: 100%;" data-rule="办理条件:required"></textarea>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-md-2 control-label">
            	要件材料
            </label>
            <div class="col-md-10">
        		<table style="width: 100%;text-align: center;" class="FILE_LIST_TABLE table table-bordered table-striped">
	        		<tr style="background-color: #F7F7F7;height: 40px;">
	        			<td style="width: 50px;"></td>
	        			<td>材料名称</td>
	        			<td>材料形式</td>
	        			<td>材料要求</td>
	        			<td>份数</td>
	        			<td>备注</td>
	        			<td style="width: 50px;"></td>
	        		</tr>
	        	</table>
	        	<button type="button" class="btn btn-default js-add-file" aria-label="Left Align">
				  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 增加明细
				</button>
        	</div>
        </div>
        <input type="hidden" name="PROC_DEF_ID" />
    </form>
</div>
<div class="modal-footer">
    <div class="col-md-12 col-sm-12 text-right">
        <div class="row">
            <button type="button" class="btn btn_minwidth btn-primary js-ok" autofocus>
            {{COMMON_OK}}
            </button>
            <button type="button" class="btn btn_minwidth btn-default js-cancel" data-dismiss>
                {{COMMON_CANCEL}}
            </button>
        </div>
    </div>
</div>
</div>
