@charset "UTF-8";
/* CSS Document */
.flexigrid {
	font-size: 13px;
	position: relative;
	border: 1px solid #8BBDEE;
	color: #000;
	width: 100%;
	margin:0px 0px 0px 0px;
}

.flexigrid.hideBody {
	height: 16px !important;
	border-bottom: 1px solid #ccc;
}

.pSet {
	position: absolute;
	left: 50%;
	float: none;
}

.ie6fullwidthbug {
	border-right: 0px solid #ccc;
	padding-right: 2px;
}

/*列表头部样式*/
.flexigrid div.hDivBox { 
	margin-left:-2px;
	margin-right:-2px;
}

.flexigrid .hDivBox th {
	/*color: #fff;*/
	border-left: #FFFFFF 1px solid;
	text-align: center;
	
}

.flexigrid div.hDiv {
}

.flexigrid div.hDiv th {
	height: 20px;
	line-height:100%;
	padding-top:1px;
	padding-left:0px;
	font-weight: normal;
	text-align: center;
	font-size:13px;
	background: #8BBDEE;/*url(../../../img/ztesoft/grid/blue.png);*/
	/*color: #FFFFFF;*/
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top !important;
}

.cth {
	/*background: url(../../../img/ztesoft/grid/blue.png) repeat-x 0px -1px;*/
	background:#8BBDEE;
}

.flexigrid div.hDiv th div {
	padding: 0px;
	border-left: 0px solid #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color:#8BBDEE
}

.flexigrid div.hDiv tr:hover {
	background-color: transparent;
	/* color: #CE92D7; */ /*ghb 0052CC;*/
}

.flexigrid div.hDiv th.sorted {
	/*background: url(../../../img/ztesoft/grid/wbg.gif) repeat-x 0px -1px;
	border-bottom: 0px solid #ccc;*/
	
}

.flexigrid div.hDiv th.thOver {
	
}

.flexigrid div.hDiv th.sorted.thOver div {
	/*border-bottom: 1px solid orange;
	padding-bottom: 4px;*/
	
}

.flexigrid div.hDiv th.thOver div { /* border-bottom: 1px solid orange;
	padding-bottom: 4px;*/
	
}

.flexigrid div.hDiv th.sorted div { /*	border-bottom: 0px solid #ccc;
	padding-bottom: 5px;*/
	
}

.flexigrid div.hDiv th.thMove {
	/*background: #fff;*/
	color: #fff;
}

.flexigrid div.hDiv th.sorted.thMove div {
	/*	border-bottom: 1px solid #fff;
	padding-bottom: 4px*/
	
}

.flexigrid div.hDiv th.thMove div { /*background: #fff !important;*/
	
}

.flexigrid div.hDiv th div.sdesc {
	background: url(../../../img/ztesoft/grid/dn1.png) no-repeat center top;
}

.flexigrid div.hDiv th div.sasc {
	background: url(../../../img/ztesoft/grid/up1.png) no-repeat center top;
}

.flexigrid div.hDiv {
	/*background: #fafafa url(../../../img/ztesoft/grid/fhbg.gif) repeat-x bottom;*/
	/*	background-color:#666;*/
	position: relative;
	/*	border: 1px solid #ccc;*/
	/*	border-bottom: 0px;*/
	overflow: hidden;
}

.flexigrid div.hDiv table { /*	border-right: 1px solid #fff;*/
	border: none;
	border-spacing: 1px;
	table-layout: fixed;
}

.flexigrid div.hDiv span.cdropright {
	display: block;
	background: url(../../../img/ztesoft/grid/next.gif) no-repeat 12px
		center;
	width: 24px;
	height: 24px;
	float: right;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
}

/*bDiv*/
.flexigrid div.bDiv table {
	margin-bottom: 10px;
	/*	border-bottom: 1px solid #ccc;*/
}

.flexigrid div.bDiv table.autoht {
	border-bottom: 0px;
	margin-bottom: 0px;
}

.flexigrid div.bDiv { /*	border: 1px solid #ccc;*/
	border-top: 0px;
	/*background: #fff;*/
	overflow: auto;
	position: relative;
}

.flexigrid  div.bDiv td {
	text-align: center;
	height: 22px;
	padding: 2px 3px;
	/*	border-right: 1px solid #ddd;
	border-left: 1px solid #fff;*/
	overflow: hidden;
	vertical-align: top !important;
	padding-left: 0;
	padding-right: 0;
	vertical-align: top;
	white-space: nowrap;
}

.flexigrid  div.bDiv td div { /*padding: 5px;*/
	border-left: 0px solid #fff;
	overflow: hidden;
	text-overflow: ellipsis;
}

.flexigrid div.bDiv tr { 
	background-color: #ffffff;
}
.flexigrid div.bDiv tr.erow { 
	background-color: #EDF5FF;/*#cbddf6;*/
}
.flexigrid div.bDiv tr td { /*border-right:1px dashed gray;*/
	
}

.flexigrid div.bDiv tr:hover td { /*
	color: #525252;
	background-color: #e4e5e5;*/
	
}

.flexigrid tr.trSelected td /*选中行的样式*/ {
	/*color: #ffffff;*/
	background-color: #FFE6A0;/*#525252;*/
}

.flexigrid tr.trSelected  span /*选中行的样式*/ {
	color: #ffffff;
	background-color: #525252;
}

.flexigrid div.bDiv tr.trSelected:hover td {
	
}

.flexigrid div.bDiv tr:hover td.sorted,.flexigrid div.bDiv tr.trOver td.sorted,.flexigrid div.bDiv tr.trOver td
	{ /*background: #d9ebf5;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px dotted #a8d8eb;*/
	
}

.flexigrid div.bDiv tr.trSelected:hover td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td,.flexigrid tr.trSelected td.sorted
	{
	/*	background: #d5effc url(../../../img/ztesoft/grid/hl.png) repeat-x top;
	border-right: 1px solid #d2e3ec;
	border-left: 1px solid #eef8ff;
	border-bottom: 1px solid #a8d8eb;*/
	
}

/* novstripe adjustments */
.flexigrid.novstripe .bDiv table {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.flexigrid.novstripe  div.bDiv td {
	border-right-color: #fff;
}

.flexigrid.novstripe div.bDiv tr.erow td.sorted {
	/*border-right-color: #e3e3e3;*/
	
}

.flexigrid.novstripe div.bDiv tr td.sorted {
	/*border-right-color: #f3f3f3;*/
	
}

.flexigrid.novstripe  div.bDiv tr.erow td {
	/*border-right-color: #f7f7f7;
	border-left-color: #f7f7f7;*/
	
}

.flexigrid.novstripe div.bDiv tr.trSelected:hover td,.flexigrid.novstripe div.bDiv tr.trSelected:hover td.sorted,.flexigrid.novstripe div.bDiv tr.trOver.trSelected td.sorted,.flexigrid.novstripe div.bDiv tr.trOver.trSelected td,.flexigrid.novstripe tr.trSelected td.sorted,.flexigrid.novstripe tr.trSelected td
	{ /*border-right: 1px solid #0066FF;
	border-left: 1px solid #0066FF;*/
	
}

.flexigrid.novstripe div.bDiv tr.trOver td,.flexigrid.novstripe div.bDiv tr:hover td
	{
	border-left-color: #d9ebf5;
	border-right-color: #d9ebf5;
}

/*nDiv*/
.flexigrid div.nDiv {
	/*background: #eee url(../../../img/ztesoft/grid/line.gif) repeat-y -1px top;*/
	/*border: 1px solid #ccc;*/
	background-color: #c6b3cf;
	border-top: 0px;
	overflow: auto;
	left: 0px;
	position: absolute;
	z-index: 999;
	float: left;
}

.flexigrid div.nDiv table { /*	margin: 2px;*/
	
}

.flexigrid div.nDiv td {
	padding: 2px 3px;
	/*border: 1px solid #eee;*/
	cursor: default;
}

.flexigrid div.nDiv tr:hover td,.flexigrid div.nDiv tr.ndcolover td {
	/*	background: #d5effc url(../../../img/ztesoft/grid/hl.png) repeat-x top;*/
	/*	border: 1px solid #a8d8eb;*/
	
}

.flexigrid div.nDiv td.ndcol1 { /*	border-right: 1px solid #ccc;*/
	
}

.flexigrid div.nDiv td.ndcol2 { /*	border-left: 1px solid #fff;
	padding-right: 10px;*/
	
}

.flexigrid div.nDiv tr:hover td.ndcol1,.flexigrid div.nDiv tr.ndcolover td.ndcol1
	{ /*border-right: 1px solid #d2e3ec;*/
	
}

.flexigrid div.nDiv tr:hover td.ndcol2,.flexigrid div.nDiv tr.ndcolover td.ndcol2
	{ /*border-left: 1px solid #eef8ff;*/
	
}

.flexigrid div.nBtn {
	position: absolute;
	height: 20px;
	width: 15px;
	z-index: 900;
	background: #fafafa url(../../../img/ztesoft/grid/ddn_ok.gif) repeat-x
		bottom;
	border: 0px solid #ccc;
	border-left: 1px solid #ccc;
	top: 0px;
	left: 0px;
	margin-top: 0px;
	/*cursor: pointer;*/
	display: none;
}

.flexigrid div.nBtn div {
	height: 19px;
	width: 12px;
	border-left: 1px solid #fff;
	float: left;
	/*background: url(../../../img/ztesoft/grid/ddn.png) no-repeat center;*/
}

.flexigrid div.nBtn.srtd {
	/*background: url(../../../img/ztesoft/grid/wbg.gif) repeat-x 0px -1px;*/
	
}

.flexigrid div.mDiv {
	background: url(../../../img/ztesoft/grid/wbg.gif) repeat-x top;
	border: 1px solid #ccc;
	border-bottom: 0px;
	border-top: 0px;
	font-weight: bold;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.flexigrid div.mDiv div {
	padding: 6px;
	white-space: nowrap;
}

.flexigrid div.mDiv div.ptogtitle {
	position: absolute;
	top: 4px;
	right: 3px;
	padding: 0px;
	height: 16px;
	width: 16px;
	overflow: hidden;
	border: 1px solid #ccc;
	cursor: pointer;
}

.flexigrid div.mDiv div.ptogtitle:hover {
	background-position: left -2px;
	border-color: #bbb;
}

.flexigrid div.mDiv div.ptogtitle span {
	display: block;
	border-left: 1px solid #eee;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	width: 14px;
	height: 14px;
	background: url(../../../img/ztesoft/grid/uup.png) no-repeat center;
}

.flexigrid div.mDiv div.ptogtitle.vsble span {
	background: url(../../../img/ztesoft/grid/ddn.png) no-repeat center;
}

.flexigrid div.tDiv /*toolbar*/ {
	background: #fafafa url(../../../img/ztesoft/grid/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid div.tDiv2 {
	float: left;
	clear: both;
	padding: 1px;
}

.flexigrid div.sDiv {
	background: #fafafa url(../../../img/ztesoft/grid/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	display: none;
}

.flexigrid div.sDiv2 {
	float: left;
	clear: both;
	padding: 5px;
	padding-left: 5px;
	width: 1024px;
}

.flexigrid div.sDiv2 input,.flexigrid div.sDiv2 select {
	vertical-align: middle;
}

.flexigrid .btnseparator {
	display: block;
	float: left;
	width: 2px;
	height: 13px;
	/*	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;*/
	background: url(../../../img/ztesoft/grid/grid-split.gif) left center
		no-repeat;
	margin: 6px 10px;
	padding:0px;
}

.flexigrid div.fbutton {
	float: left;
	display: block;
	cursor: pointer;
	padding: 1px;
}

.flexigrid div.fbutton div {
	float: left;
	padding: 1px 3px;
}

.flexigrid div.fbutton span {
	float: left;
	display: block;
	padding: 3px;
}

.flexigrid div.fbutton:hover,.flexigrid div.fbutton.fbOver {
	padding: 0px;
	border: 1px solid #ccc;
}

.flexigrid div.fbutton:hover div,.flexigrid div.fbutton.fbOver div {
	padding: 0px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* end toolbar*/
.flexigrid div.cDrag {
	float: left;
	position: absolute;
	z-index: 2;
	overflow: visible;
}

.flexigrid div.cDrag div {
	float: left;
	background: none;
	display: block;
	position: absolute;
	height: 24px;
	width: 4px;
	cursor: col-resize;
}

.flexigrid div.cDrag div:hover,.flexigrid div.cDrag div.dragging {
	background: url(../../../img/ztesoft/grid/line.gif) repeat-y 2px center;
}

.flexigrid div.iDiv {
	border: 1px solid #316ac5;
	position: absolute;
	overflow: visible;
	background: none;
}

.flexigrid div.iDiv input,.flexigrid div.iDiv select,.flexigrid div.iDiv textarea
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.flexigrid div.iDiv input.tb {
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	background: none;
}

.flexigrid div.hGrip {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5px;
	width: 5px;
	background: url(../../../img/ztesoft/grid/line.gif) repeat-x center;
	margin-right: 1px;
	cursor: col-resize;
}

.flexigrid div.hGrip:hover,.flexigrid div.hGrip.hgOver {
	border-right: 1px solid #999;
	margin-right: 0px;
}

.flexigrid div.vGrip {
	height: 5px;
	overflow: hidden;
	position: relative;
	background: #fafafa url(../../../img/ztesoft/grid/wbg.gif) repeat-x 0px
		-1px;
	border: 1px solid #ccc;
	border-top: 0px;
	text-align: center;
	cursor: row-resize;
}

.flexigrid div.vGrip span {
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: none;
}

div.colCopy div /* common inner cell properties*/ {
	padding: 5px;
	border-left: 0px solid #fff;
}

div.colCopy {
	font-weight: normal;
	height: 24px;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}

div.colCopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #fafafa url(../../../img/ztesoft/grid/fhbg.gif) repeat-x
		bottom;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid span.cdropleft {
	display: block;
	background: url(../../../img/ztesoft/grid/prev.gif) no-repeat -4px
		center;
	width: 24px;
	height: 24px;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 3;
}

.flexigrid tr td.sorted { /*	background: #f3f3f3;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #f3f3f3;*/
	
}

.flexigrid tr td.sorted div {
	
}

.flexigrid tr.erow td { /*	background: #f7f7f7;
	border-bottom: 1px solid #f7f7f7;*/
	
}

.flexigrid tr.erow td.sorted { /*	background: #e3e3e3;
	border-bottom: 1px solid #e3e3e3;*/
	
}

.flexigrid tr.erow td.sorted div {
	
}

/* end novstripe */
.flexigrid div.pDiv {
	height: 25px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: url(../../../img/ztesoft/grid/bar.gif) repeat-x;
	color: #525252;
}

.flexigrid div.pDiv div.pDiv2 { /*margin: 3px;
	margin-left: -2px;
	float: left;
	width: 1024px;*/
	
}

div.pGroup { /*float: left;*/
	position: absolute;
	background: none;
	height: 25px;
	/*margin: 0px 5px;*/
	line-height: 25px;
	top: 0;
	zoom: 1;
}

.pSet1 {
	left: 5px;
	zoom: 1;
	*width: 40%;
	_width: atuo;
}

.pSet2 {
	left: 50%;
}

.pSet3 {
	left: 80%;
}

div.pGroup select {
	width: 50px;
	margin-top: 3px;
}

.flexigrid .pDiv .pSelect {
	float: left;
	margin-right: 6px;
}

.flexigrid .pTotal {
	float: left;
}

.flexigrid div.pDiv .pPageStat,.flexigrid div.pDiv .pcontrol {
	/*position: relative;
	top: 2px;
	overflow: visible;*/
	float: left;
}

.flexigrid div.pDiv .pPageStat {
	display: none;
}

.flexigrid div.pDiv input {
	width: 28px;
	height: 14px;
	line-height: 14px;
	border: 1px solid #9b998e;
	margin: 0 6px;
	text-align: center;
	vertical-align: middle;
	/*position: relative;
	top: -1px;*/
}

.flexigrid .pButton {
	margin-top: 2px;
	float: left;
	width: 16px;
	height: 16px;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
}

.flexigrid div.pDiv  div.pButton:hover,.flexigrid div.pDiv  div.pButton.pBtnOver
	{ /*	width: 20px;
	height: 20px;
	border: 1px solid #ccc;*/
	cursor: pointer;
}

.flexigrid .pDiv .pButton span {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}

.flexigrid .pDiv .pButton:hover span,.flexigrid .pDiv .pButton.pBtnOver span
	{
	width: 19px;
	height: 19px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

.flexigrid .pSearch {
	background: url(../../../img/ztesoft/grid/magnifier.png) no-repeat
		center;
}

.flexigrid .pFirst {
	background: url(../../../img/ztesoft/grid/first.gif) no-repeat center
		4px;
}

.flexigrid .pDiv .pFirstDisabled {
	cursor: default;
	background: url(../../../img/ztesoft/grid/page-first-disabled.gif)
		no-repeat center 4px;
}

.flexigrid .pPrev {
	background: url(../../../img/ztesoft/grid/prev.gif) no-repeat center 4px;
}

.flexigrid .pDiv .pPrevDisabled {
	cursor: default;
	background: url(../../../img/ztesoft/grid/page-prev-disabled.gif)
		no-repeat center 4px;
}

.flexigrid .pNext {
	background: url(../../../img/ztesoft/grid/next.gif) no-repeat center 4px;
}

.flexigrid .pDiv .pNextDisabled {
	cursor: default;
	background: url(../../../img/ztesoft/grid/page-next-disabled.gif)
		no-repeat center 4px;
}

.flexigrid .pLast {
	background: url(../../../img/ztesoft/grid/last.gif) no-repeat center 4px;
}

.flexigrid .pDiv .pLastDisabled {
	cursor: default;
	background: url(../../../img/ztesoft/grid/page-last-disabled.gif)
		no-repeat center 4px;
}

.flexigrid .pDiv .pFirstDisabled span,.flexigrid .pDiv .pPrevDisabled span,.flexigrid .pDiv .pNextDisabled span,.flexigrid .pDiv .pLastDisabled span
	{
	cursor: default;
}

.flexigrid .pReload {
	display: none;
	margin: 5px 10px 0 10px;
	background: url(../../../img/ztesoft/grid/load.png) no-repeat center top;
}

.flexigrid .pReload.loading {
	background: url(../../../img/ztesoft/grid/load.gif) no-repeat center;
}

/* ie adjustments */
.flexigrid.ie div.hDiv th div,.flexigrid.ie  div.bDiv td  div,div.colCopy.ie div
	/* common inner cell properties*/ {
	overflow: hidden;
	text-overflow: ellipsis;
}

div.hack4IE7 {
	width: expression(this.parentNode.clientWidth +   'px');
}

span.orderimgasc {
	background: url(../../../img/ztesoft/grid/sort_asc.gif);
	background-position: right;
	background-repeat: no-repeat;
	height: 18px;
	width: 15px;
	position: absolute;
	display: inline;
}

span.orderimgdesc {
	background: url(../../../img/ztesoft/grid/sort_desc.gif);
	background-position: right;
	background-repeat: no-repeat;
	height: 18px;
	width: 15px;
	position: absolute;
	display: inline;
}